@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    background-image: url('/assets/home.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color:#0c0c13f2;
    width: 100vw;
    height: 100vh;

}

nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    margin-bottom: 15vh;
    margin-top: 3vh;
}


.logo h1{
    color: red;
    font-family: 'dancing script';
    font-size: 60px;
}
.logo h2{
    color: red;
    font-size: 20px;
    margin-top: -20px;
    margin-left: 130px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 900;
    padding: 0px 2px;
    margin: 0px 20px;
    transition: all 0.3s ease;
    
}

nav ul li label{
    display: none;
}

nav ul li{
    margin: 0px 10px;
    padding: 0px 1px;
}

nav .menu-btn i:hover,
nav ul li i:hover,
nav ul li a:hover,
nav ul li a.act{
    color:rgb(10, 190, 190);
    font-size: 30px;
}

nav .menu-btn i{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
    margin-left: 20px;
    position: relative;
}
#c{
    display: none;
}

nav .user-i i{
    color: white;
    font-size: 30px;
}
/* <i class="fa-solid fa-bars"></i> */
@media (max-width:1170px){

    nav .menu-btn i{
        display: block;
    }

    nav ul li label{
        display: block;
        cursor: pointer;
    }

    .user-i i{
        display: none;
    }

    #c:checked ~ .menu-btn i::before{
        content: "\f00d";
    }

    nav ul{
        position: fixed;
        top:15vh;
        left: -300%;
        background-color: rgba(0, 0, 0, 0.677);
        height: 100vh;
        width: 100vw;
        display: block;
        text-align: center;
        transition: all 0.3s ease-in-out ;
    }

    #c:checked ~ ul{
        left: 0%;
        z-index: 1;

    }

    

    nav ul li{
        margin: 50px 0px;
    }

    nav ul li a{
        font-size: 35px;
        display: block;
    }
}

@media (max-width:710px){
    .logo h1{
        font-size: 50px;
    }
    body{
        background-image: url('/assets/homem.jpg');
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: contain;
        background-color:rgb(20, 20, 20);
    }

    nav .logo{
        margin: 0px 0px 0px -40px;
    }
} 

/* Above code is Navbar for all pages */
/* So use it don't write */


main{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.h-1{
    position: relative;
    animation-name: h;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    left: -300%;
    animation-duration: 2s;
    animation-delay: 0.3s;
    overflow-x: hidden;
}
main h1{
    margin-top: 5vh;
    text-align: center;
    font-size: 50px;
    color: white;
    animation-name: h;
    overflow-x: hidden;
}

@keyframes h{
    from{
        left: -300%;
    }
    to{
        left: 0%;
    }
}

.partition{
    height: 2vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.304);
}

.conteiner{
    width: 100vw;
    height: 100vh;
}

/* For Box1 */
/*  */

.box1{
    margin: 20px;
    width: 100vw;
    display: flex;
    color:#ff6464;;
    text-align: center;
    overflow-x: hidden;
    
}
.img1{
    width: 50vw;
}
.content1{
    width: 40vw;
    text-align: left;
    margin: 10px;
    padding: 10px;
    position: relative;
    animation-name:homercont;
    animation-duration: 3s;
    overflow-x: hidden;

}

.img1 img{
    width: 22vw;
    margin-top: 40px;
    box-shadow: 10px 10px 15px 10px black;
    position: relative;
    animation-name:homerimg;
    animation-duration: 3s;
    overflow-x: hidden;
}

.content1 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    overflow-x: hidden;

}

.content1 p{
    font-size: 30px;
    padding: auto;
    text-align: center;
    overflow-x: hidden;
}

@media (max-width:1050px){
    .img1 img{
        width: 25vw;
        margin-top: 40px;
    } 
}

@media (max-width:910px){
    main h1{
        font-size: 30px;
    }
    .box1{
        /* color: black; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img1 img{
        width: 40vw;
    } 
}

@media (max-width:470px){
    main h1{
        font-size: 20px;
    }
    .content1 h2{
        font-size: 30px;
    }

    .content1 p{
        font-size: 20px;
        display: block;
    }

    .content1{
        margin-left: -20px;
    }

    .img1 img{
        width: 80vw;
        left: -70px;
    } 
}

@keyframes homerimg{
    from{
        top:-300%;
    }
    to{
        top: 0%;
    }
}

@keyframes homercont{
    from{
        right:-300%;
    }
    to{
        right: 0%;
    }
    
}


/* Box-2 */

.box2{
    margin: 50px;
    width: 100vw;
    display: flex;
    color:#ff6464;;
    text-align: center;
    overflow-x: hidden;
    
}
.img2{
    width: 50vw;
}
.content2{
    width: 40vw;
    text-align: left;
    margin: 10px;
    padding: 10px;
    position: relative;
    animation-name:dantecont;
    animation-duration: 4s;
    overflow-x: hidden;

}

.img2 img{
    width: 22vw;
    margin-top: 40px;
    box-shadow: 10px 10px 15px 10px black;
    position: relative;
    animation-name:danteimg;
    animation-duration: 4s;
    overflow-x: hidden;
}

.content2 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    overflow-x: hidden;

}

.content2 p{
    font-size: 30px;
    padding: auto;
    text-align: center;
    overflow-x: hidden;
}

@media (max-width:1050px){
    .img2 img{
        width: 25vw;
        margin-top: 40px;
    } 
}

@media (max-width:910px){
    main h1{
        font-size: 30px;
    }
    .box2{
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img2 img{
        width: 40vw;
    } 
}

@media (max-width:470px){
    main h1{
        font-size: 20px;
    }
    .content2 h2{
        font-size: 20px;
    }

    .content2 p{
        font-size: 20px;
        display: block;
    }

    .content2{
        margin-left: -70px;
    }
    .img2 img{
        width: 80vw;
        left: -90px;
    } 
}

@keyframes danteimg{
    from{
        top:-300%;
    }
    to{
        top: 0%;
    }
}

@keyframes dantecont{
    from{
        right:-300%;
    }
    to{
        right: 0%;
    }
    
}


/* Box-3 */

.box3{
    margin: 20px;
    width: 100vw;
    display: flex;
    color:#ff6464;;
    text-align: center;
    overflow-x: hidden;
    
}
.img3{
    width: 50vw;
}
.content3{
    width: 40vw;
    text-align: center;
    margin: 10px;
    padding: 10px;
    position: relative;
    animation-name:tcont;
    animation-duration: 3s;
    overflow-x: hidden;
}

.img3 img{
    width: 22vw;
    margin-top: 40px;
    box-shadow: 10px 10px 15px 10px black;
    position: relative;
    animation-name:timg;
    animation-duration: 3s;
    overflow-x: hidden;
}

.content3{
    margin-top: 40px;
    overflow-x: hidden;
}

.content3 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    overflow-x: hidden;
}

.content3 p{
    font-size: 30px;
    padding: auto;
    text-align: center;
    overflow-x: hidden;
}

@media (max-width:1050px){
    .img3 img{
        width: 25vw;
        margin-top: 40px;
    } 
}

@media (max-width:910px){
    main h1{
        font-size: 30px;
    }
    .box3{
        /* color: black; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img3 img{
        width: 40vw;
    } 
}

@media (max-width:470px){
    main h1{
        font-size: 20px;
    }

    .content3 h2{
        font-size: 20px;
    }

    .content3 p{
        display: block;
        font-size: 20px;
    }

    .img3 img{
        width: 80vw;
        left: -60px;
    } 
}



@keyframes timg{
    from{
        left:-300%;
    }
    to{
        left: 0%;
    }
}


@keyframes tcont{
    from{
        right:-300%;
    }
    to{
        right: 0%;
    }
    
} 
