
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body{

    width: 100vw;
    background-image: url('/assets/banch.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}
.bg{
    display: flex;
}

.skip{
    width: 100%;
}
.content a:hover{
    color: red;
}

.skip a h2{
    margin-left:3vw;
    margin-top: 3vh;
    font-size: 25px;
    color: whitesmoke;
}
.skip a:hover h2{
    color: red;
    transition: 0.5s;
}
.box a:focus h2{
    color: blue;
    transition: 0.4s;
}

.box{
    width: 45vw;
    height: 85vh;
    background-color:transparent;
    margin: 0px 0px 0px 7vw;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.381);
    color: white;
    overflow: hidden;
    background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
}

.box p{
    font-size: 25px;
    font-family: 'roboto mono';
    margin-left: 30px;
    /* margin-bottom: -5px; */
}
.box a{
    text-decoration: none;
    color: blue;
}

.content{
    margin: 3vw;
}

.box h1,h3{
    font-family: 'roboto mono';
    color: whitesmoke;
    padding: 5px;
}

.user-name{
    width: 40vw;
    margin-bottom: 30px;
    padding-top: 20px;
}
.user-pass{
    padding-top: 5px;
}

form{
    position: relative;
}

.user-name input{
    width: 30vw;
    height: 7vh;
    font-size: 25px;
    border-radius: 20px;
    color: whitesmoke;
    border: none;
    padding: 1vw;
    margin-left: 40px;
    outline: none;
    margin-top: -10px;
    /* position: absolute; */
    background-color: rgba(0, 0, 0, 0.216);
}

.user-name i{
    color: white;
    position: absolute;
    margin-left: -3vw;
    font-size: 20px;
    margin-top: 0.7vh;
}


.user-pass input{
    width: 30vw;
    height: 7vh;
    padding: 1vw;
    font-size: 25px;
    margin-left: 40px;
    border: none;
    margin-top: 5px;
    outline: none;
    border-radius: 20px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.216);
}

.user-pass i{
    color: white;
    position: absolute;
    margin-left: -3vw;
    font-size: 20px;
    margin-top: 2vh;
}

.btn{
    width: 40vw;
    margin: 4vw;
    background-color:transparent;
    margin-top: -1px;
    
}
.btn i{
    font-size: 40px;
    color: black;

}

.btn button{
    margin-left: 80%;
    height: 10vh;
    width: 5vw;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: transparent;
}

.btn button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btn button:hover i{
    color: white;
}


@media (max-width:1210px){
    .box{
        width: 60vw;
        height: 80vh;
        /* background-color:transparent; */
    }
    .user-name input{
        width: 35vw;
    }
    .user-pass input{
        width: 35vw;
    }
    .btn button{
        margin-left: 80%;
        margin-top: 5%;
        width: 8vw;
        height: 12vh;
    }

}


@media (max-width:807px){
    .box{
        width: 70vw;
        height: 80vh;
        font-size: 10px;
        /* background-color:transparent; */
    }
    .user-name input{
        width: 40vw;
        height: 6vh;
        font-size: 15px;
        padding: 3%;
    }
    .user-name i{
        margin-left: -30px;
    }
    .user-pass i{
        margin-left: -30px;
    }
    .user-name{
        width: 50vw;
    }
    .user-pass input{
        width: 40vw;
        height: 6vh;
        font-size: 15px;
        padding: 3%;
    }

    .user-pass{
        width: 50vw;
    }

    .btn button{
        margin-left: 70%;
        width: 8vw;
        height: 10vh;

    }

}

@media (max-width:620px){
    .box{
        width: 70vw;
        height: 80vh;
        /* background-color:transparent; */
    }
    .user-name input{
        width: 47vw;
    }
    .user-name i{
        margin-left: -30px;
        font-size: 15px;
    }
    .user-name{
        width: 55vw;
    }
    .user-pass input{
        width: 47vw;
    }
    .user-pass i{
        margin-left: -30px;
        font-size: 15px;
    }


    .user-pass{
        width: 55vw;
    }

    .btn button{
        margin-left: 70%;
        width: 12vw;
        height: 9vh;
        margin-top: 5vh;

    }

    #p1, p{
        font-size: 15px;
    }
    #p2, p{
        font-size: 15px;
    }

}

@media (max-width:555px){
    .box{
        width: 90vw;
        height: 70vh;
        /* background-color:transparent; */
    }
    .user-name input{
        width: 55vw;
    }
    .user-name{
        width: 70vw;
    }
    .user-pass input{
        width: 55vw;
    }

    .user-pass{
        width: 70vw;
    }

    .btn button{
        margin-left: 80%;
        width: 8vw;
        height: 13vh;

    }

}

@media (max-width:550px){
    .btn button{
        margin-left: 50%;
        width: 12vw;
        height: 10vh;

    }
    .box{
        font-size: 12px;
    }

    .box p{
        font-size: 15px;
    }
    .user-name i{
        margin-left: -5vw;
        font-size: 15px;
    }

    .user-pass i{
        margin-left: -5vw;
        font-size: 15px;
    }
    .user-name input{
        width: 60vw;
    }

    .user-name{
        width: 75vw;
    }

    .user-pass input{
        width: 60vw;
    }

    .user-pass{
        width: 75vw;
    }
    .btn button{
        margin-left: 70%;
    }
}

@media (max-width:420px){
    .box{
        font-size: 12px;
    }

    .box p{
        font-size: 15px;
    }
    .user-name i{
        margin-left: -10vw;
    }
    .user-pass i{
        margin-left: -10vw;
    }
    .btn button{
        margin-left: 50%;
        width: 17vw;
        height: 9vh;
        margin-top: 7vh;

    }
    .btn{
        margin-left: 20%;
    }
    .user-name input{
        width: 75vw;
        height: 5vh;
        margin-left: 7vw;
        font-size: 15px;
        padding: 3%;
    }

    .user-name{
        width: 90vw;
        margin-top: 3vh;
    }

    .user-pass input{
        width: 75vw;
        height: 5vh;
        margin-left: 7vw;
        font-size: 15px;
        padding: 3%;
    }

    .user-pass{
        width: 90vw;
        margin-top: 3vh;
    }
}

form{
    margin-top: 30px;
}
