@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


 body{
    background-image: url('/assets/lamp.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color:#000000f2;
    background-attachment: fixed;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;

}

nav{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    margin-bottom: 8vh;
}


.logo h1{
    color: white;
    font-family: 'dancing script';
    font-size: 60px;
}
.logo h2{
    color: white;
    font-size: 25px;
    margin-top: -20px;
    margin-left: 130px;
}

nav ul{
    display: flex;
    list-style: none;
    /* margin-right: 100px; */
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 900;
    padding: 0px 5px;
    margin: 0px 15px;
    transition: all 0.3s ease;
    
}

nav ul li label{
    display: none;
}

nav ul li{
    margin: 0px 10px;
    padding: 0px 5px;
}

nav .menu-btn i:hover,
nav ul li i:hover,
nav ul li a:hover,
nav ul li a.act{
    color:rgb(10, 190, 190);
    font-size: 30px;
}

nav .menu-btn i{
    color: white;
    font-size: 35px;
    cursor: pointer;
    display: none;
    position: relative;
}
#c{
    display: none;
}

nav .user-i i{
    color: white;
    font-size: 25px;
}
/* <i class="fa-solid fa-bars"></i> */
@media (max-width:1170px){

    nav .menu-btn i{
        display: block;
    }

    nav ul li label{
        display: block;
        cursor: pointer;
    }

    .user-i i{
        display: none;
    }

    #c:checked ~ .menu-btn i::before{
        content: "\f00d";
    }

    nav ul{
        position: fixed;
        top:15vh;
        left: -300%;
        background-color: black;
        height: 100vh;
        width: 100vw;
        display: block;
        text-align: center;
        transition: all 0.3s ease-in-out ;
    }

    #c:checked ~ ul{
        left: 0%;
        z-index: 1;

    }

    

    nav ul li{
        margin: 50px 0px;
    }

    nav ul li a{
        font-size: 35px;
        display: block;
    }
}

@media (max-width:710px){
    .logo h1{
        font-size: 50px;
    }

    nav .logo{
        margin: 0px 0px 0px -40px;
    }
} 

/* It's all main content */

.filter {
    background-color: rgba(128, 128, 128, 0.534);
    height: 7vh;
}
.filter ul{
    display: flex;
    list-style: none;
    /* left: -300%; */
    z-index: 1;
}
.filter ul li a{
    color: white;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
}

.filter ul li a:hover{
    color:black;
}
.f-btn i{
    color: white;
    font-size: 30px;
    margin: 30px;
    display: none;
    cursor: pointer;
    float: right;
}
#f{
    display: none;
}

@media (max-width:802px){
    .filter ul{
        position: fixed;
        right: 0;
        background-color: rgba(128, 128, 128, 0.708);
        height: 100vh;
        width: 100%;
        left: -300%;
        display: block;
        text-align: center;
    }
    .filter{
        background-color: transparent;
    }
    #f:checked ~ .filter ul{
        left: 0%;
        transition: 0.7s;
    }
    .filter ul li{
        margin: 50px 0px;
    }
    .f-btn i{
        display: block;
    }
 }


.container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 30px;
}
.box{
    width: 20vw;
    height: 40vh;
    margin: 10px;
    background-color: transparent;
    color: black;
    /* background-color: rgba(0, 0, 0, 0.383); */
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#b2 .img{
    background-image: url('/assets/stillhouse.webp');
    
}
#b3 .img{
    background-image: url('/assets/silent.jpg');
}
#b4 .img{
    background-image: url('/assets/children_of_blood.jpg');
}
#b5 .img{
    background-image: url('/assets/wizard_of_earthsea.webp');
}
#b6 .img{
    background-image: url('/assets/buried_giant.jpg');
}
#b7 .img{
    background-image: url('/assets/beach_read.jpg');
}
#b8 .img{
    background-image: url('/assets/circe.jpg');
}
#b9 .img{
    background-image: url('/assets/lovelight_farms.jpg');
}
#b10 .img{
    background-image: url('/assets/my_sister_the_serial_killer.jpg');
}
#b11 .img{
    background-image: url('/assets/vision_of_white.jpg');
}
#b12 .img{
    background-image: url('/assets/snow_crash.jpg');
}
#b13 .img{
    background-image: url('/assets/exhalation.jpg');
}
#b14 .img{
    background-image: url('/assets/martian.jpg');
}
#b15 .img{
    background-image: url('/assets/kiss_quotient.jpg');
}
#b16 .img{
    background-image: url('/assets/gaudy_night.jpg');
}
#b17 .img{
    background-image: url('/assets/kiss_beforedying.jpg');
}
#b18 .img{
    background-image: url('/assets/maltese_falcon.jpg');
}
#b19 .img{
    background-image: url('/assets/roger.jpg');
}
#b20 .img{
    background-image: url('/assets/woman_in_white.jpg');
}
.download{
    width: 100%;
    height: 30%;

}
.img{
    width: 100%;
    height: 70%;
    background-image: url('/assets/guest_list.jpg');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center; 
}
.img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
}

.download button{
    font-size: 30px;
    margin-left: 8vh;
    margin-top: 3vh;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 13px;
} 
.download button a{
    text-decoration: none;
    color: white;
}
.download button:hover a{
    color: cyan;
}
.download button:focus a{
    color: red;
}
#c1,#c3{
    position: relative;
    animation-name: c1;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-duration: 2s;
    transition: 0.5s ease-in-out;
}
@keyframes c1 {
    from{
        left:-300%;
    }
    to{
        left: 0%;
    }
}
#c2,#c4{
    position: relative;
    animation-name: c2;
    animation-duration: 2s;
    transition: 1s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
}
@keyframes c2 {
    from{
        right: -300%;
    }
    to{
        right: 0%;
    }
}
@media (max-width:1380px){
    .download button{
        font-size: 30px;
        margin-left: 3vh;
        margin-top: 3vh;
    
    }
}
@media (max-width:1160px){
    .download button{
        font-size: 25px;
        margin-left: 2vh;
        margin-top: 2vh;
    }
}

@media (max-width:1050px){
    .container{
        flex-direction: column;
    }
    .box{
        width: 40vw;
        margin-left: 30vw;
    }
    .download button{
        font-size: 30px;
        margin-left: 9vh;
        margin-top: 3vh;

    }
    
}

@media (max-width:640px){
    .box{
        width: 50vw;
        margin-left: 18vw;
    }
   
}
@media (max-width:500px){
    .box{
        width: 70vw;
        margin-left: 12vw;
    }
    body{
        background-image: url('/assets/libm.jpg');
        background-size: contain;
        background-position:fixed;
        background-repeat: no-repeat;
    }
}

/* Footer */
footer{
    display: flex;
    margin-top: 3vh;
    justify-content: center;
    align-items: center;
}
.foot{
    width: 100vw;
    height: 30vh;
    background-color: black;
    color: white;
    text-align: center;
    align-self: center;
}

@media (max-width:612px) {
    .foot{
        font-size: 10px;
    }
}

@media (max-width:400px) {
    .foot{
        font-size: 6px;
    }
}