@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    overflow-x: hidden;
    scrollbar-width: none;
}


main{
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/well_bg.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

}

.box{
    width: 40vw;
    height: 100vh;
    color: white;
    padding: 30px;
    border: 7px solid #00000045;
    box-shadow: 5px 10px 15px 0px gray;
}

.box:nth-child(1){
    font-size: 30px;
    text-align: center;
    
}
.p h2{
    margin-bottom: 8vh;
    color: red;
}

@media screen and (max-width:1340px) {
    .box:nth-child(1){
        font-size: 25px;
    }
    .box:nth-child(2){
        font-size: 25px;
    }
}
.p1,.p2{
    margin: 20px;
}
.p2{
    font-family: 'dancing script';
    font-size: 40px;
}
.p3{
    margin-top: -3vh;
    font-size: 20px;
    margin-left: 7vw;
}

.box:nth-child(2){
    
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width:800px){
    .box{
        width: 60vw;
        height: 60vh;
        color: white;
        padding: 30px;
        border: 7px solid #00000045;
        box-shadow: 5px 10px 15px 0px gray;
    }
    .p3{
        font-size: 15px;
    }
    .p2 h2{
        font-size: 40px;
    }
}

.btn{
    margin: 20%;
    outline: none;
    /* position: sticky; */
}

.btn button{
    width: 20vw;
    height: 7vh;
    outline: none;
    color: white;
    background-color: rgba(0,0,0,0.3);
    font-size: 30px;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(to right,#00ffff30,#ff02ff1b);
    box-shadow: 5px 10px 15px 0px gray;
    margin-top: 10vh;
}

.btn:hover button{
    box-shadow: 0px 0px 5px #5af6f665,
                0px 0px 30px #5af6f665,
                0px 0px 90px #5af6f665;

    background-color: rgba(0, 0, 0, 0.205);
    transition: 0.5s;
    transition-delay: ease-in-out;
    /* box-shadow: none; */
}

@media screen and (max-width:1268px) {
    .btn button{
        width: 20vw;
        height: 7vh;
        font-size: 30px;

}
}

@media screen and (max-width:800px) {
    .btn button{
        width: 30vw;
        height: 7vh;
        font-size: 20px;

    }
    .p1,.p2{
        font-size: 20px;
    }
}